:root {
    --bleu-france: #000091;
    --rouge-marianne: #E1000F;
}

@font-face {
    font-family: 'Marianne';
    src: url('fonts/marianne-regular-webfont.woff');
}

body {
    margin: 0;
    font-family: "Marianne";
    color: rgb(58, 58, 58)
}

.header-container {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: 60%;
    box-shadow: 0 8px 8px #0000001a, 0 8px 16px -16px #00000052;
    padding-left: 20%;
    padding-right: 20%;
}



.title-container {
    margin-top: 0;
    margin-bottom: auto;
    display: inline-block;
    vertical-align: top;
}

.main-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.secondary-title {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0
}

.summary-container {
    margin-left: 20%;
    margin-right: 20%;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.card {
    display: block;
    /* background-color: red; */
    text-align: center;
    border-right: solid grey 1px;
    border-left: solid grey 1px;
    border-top: solid grey 1px;
    border-bottom: solid 4px var(--bleu-france);
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 120px;
}

.card-content {
    font-weight: bold;
}

.content-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    /* background-color: green; */
    overflow: hidden !important;
}

.graph-title {
    margin-bottom: 0;
    font-weight: 300;
}

.row {
    display: flex;
    justify-content: center;
}

.graph-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;

}

.main-text {
    margin-left: 50px;
    margin-right: 50px;
}

h2:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    border-top: 1px solid;
    border-bottom: 1px solid #fff;
    width: 80rem;
    margin-right: -100%;
    margin-left: 2rem;

}

h2 {
    margin-bottom: 3rem;
}

button {
    background-color: var(--bleu-france);
    color: white;
    height: 3rem;
    box-shadow: none;
    margin: 3rem;
    width: 50%;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    /* border-radius: 1rem; */
}

.Select-value-label,
.Select-value-icon {
    color: var(--bleu-france);
    background-color: white;
    box-shadow: none;
    border: none;
    /* border: solid 1px var(--bleu-france) */
}

.Select-value {
    border-color: var(--bleu-france) !important;
    box-shadow: none;
}

#cour-de-cassation-logo {
    margin-right: 20px;
}


.CalendarDay__selected {
    background-color: var(--bleu-france);
    border-color: var(--bleu-france);
}

.CalendarDay__selected:hover {

    background-color: var(--bleu-france);
    border-color: var(--bleu-france);
    opacity: .8;
    border-color: white;
}

.DateInput_input__focused {
    border-bottom-color: var(--bleu-france) ! important;
}

.DayPickerKeyboardShortcuts_buttonReset {
    display: none
}

.label-for-date-picker,
.date-picker {
    display: flex;
    flex-direction: column;
}

.date-picker-card {
    margin: 20px;
    text-align: center;
}

.footer {
    border-top: solid 1px;
    padding-left: 20%;
    padding-right: 20%;
    height: 150px;
    width: 60%;
    justify-content: space-between;
    display: flex;
}

.link-container {
    padding-top: 1rem;
    display: inline-block;
    /* margin-left: 40%; */
    /* height: 100%; */
    vertical-align: top;

}

.link-container>a {
    color: black;
    font: bold;
    display: block;
}

.logo-republic {
    vertical-align: top;
}

.label-for-download-picker {
    padding-right: 2rem;
}


#start-date-picker,
#end-date-picker {
    height: 2rem;
    border: solid 2px lightgray;
    color: rgb(58, 58, 58);
    text-align: center;
    font-size: 1rem;
    border-radius: .25rem;

}

#start-date-picker:invalid,
#end-date-picker:invalid {
    border-color: #E1000F;
    background-color: lightgray;
}
